{% extends 'layout.html' %}

{% block head %}
<title>about us page</title>
{% endblock %}

{% block body %}

<!-- About Start -->
<div class="container">
    <h1 class="text text-center"><strong>ABOUT US</strong></h1>
    <p>WE ARE A STREET WEAR LABEL FOUND IN THE MIDDLE OF 2017 AND BASED AT SLEMAN INDONESIA. 
    BEHIND WHAT WE DO, THERE IS A REASON WHY WE’RE DOING IT. HUMAN RIGHTS, INJUSTICE IN LAW, 
    CORRUPTION, POVERTY, CYBER BULLYING, AND CLIMATE CHANGE ARE JUST SOME OF THE PROBLEMS 
    WE’RE FACING TODAY. THIS IS SOMETHING THAT DRIVES US TO STAY OPEN-EYED AND CONFRONT THE DAYS.</p>
    <p>
        <h6 class="text text-center"><strong>OUR VISION</strong></h6>
        <p>OUR VISION IS TO BE THE FIRST CHOICE DESTINATION FOR THOSE LOOKING FOR CLOTHES 
        THAT NOT ONLY LOOK GOOD BUT ARE ALSO COMFORTABLE FOR EVERYDAY WEAR. 
        WE ARE DETERMINED TO EXPAND AND ENRICH OUR CLOTHING SELECTION ACCORDING 
        TO CUSTOMER NEEDS AND PREFERENCES.</p>
        <h6 class="text text-center"><strong>OUR MISSION</strong></h6>
        <P>~PROVIDE A SUPERIOR SHOPPING EXPERIENCE WITH FRIENDLY AND EFFICIENT CUSTOMER SERVICE.</P>
        <p>~PROVIDE A COLLECTION OF CLOTHING MADE FROM HIGH QUALITY MATERIALS AND ATTRACTIVE DESIGNS.</p>
        <p>~SUPPORT LOCAL INDUSTRIES BY PROMOTING PRODUCTS FROM LOCAL ARTISANS.</p>
        <h6 class="text text-center"><strong>OUR VALUES</strong></h6>
        <p>QUALITY, CUSTOMER SATISFACTION, CREATIVITY, AND COMMUNITY CONTRIBUTION 
        ARE THE CORE VALUES THAT UNDERPIN EVERY STEP WE TAKE.</p>
</div>
<!-- About End -->

{% endblock %}