{% extends 'layout.html' %}

{% block head %}
<title>FAQs Page</title>
{% endblock %}

{% block body %}

<!-- FAQs Start -->
<div class="container">
    <h1 class="text text-center">FREQUENTLY ASKED QUESTIONS (FAQ)</h1>
    <p></p>
    <p></p>
    <p></p>
</div>
<div class="container">
    <p>Orders</p>

    <p>Q : Do I need to have an account to place an order?</p>
    <p>A : You are welcome to place an order as a guest, but you will have a quicker 
    checkout process when you have an account with us, keeping you updated 
    with your order history and tracking information, as well as our newsletter 
    and special promotions when they become available. Plus, users with accounts 
    are eligible to receive updates on promotions and special product releases.</p>

    <p>Q : Where is my order?</p>
    <p>A : Once your order has been placed, you will receive an email confirming your order. 
    Once your order has been processed and packed, we will provide you with a shipping 
    confirmation email that includes a tracking number. You will receive a final 
    confirmation email upon delivery of your order.</p>

    <p>Q : Where is my order being shipped from?</p>
    <p>A : Your order will be processed from Purwomartani, Kec. Kalasan, Sleman City.</p>

    <p>Q : How do I edit or cancel my order?</p>
    <p>A : If you need to make changes to your order or something about your order was incorrect, 
    please contact our customer service by Whatsapp to +62 812-1274-1632 as soon as possible.
    For all other cancellation requests, our online customer service department is available 
    Monday – Saturday, 9 AM to 4 PM WIB.</p>

    <p>Q : What payment methods do you accept?</p>
    <p>A : We accept Bank Virtual Account Method (BCA, BNI, BRI, BSI, BJB, MANDIRI, PERMATA). 
    Also we accept payment via Alfamart, Indomaret, Shopeepay, OVO, DANA, LinkAja, 
    Direct Debit BRI, QRIS, Akulaku, and Credit Card. By using this payment method, 
    you agree that all submitted data for your order will be processed by payment processor.</p>

    <p>Delivery – Shipping Cost</p>

    <p>Q : What are your shipping cost and delivery times?</p>
    <p>A : Shipping costs are calculated based on the shipping location, 
    shipping method and the value of your order.</p>

    <p>Q : Where do I get my Resi number?</p>
    <p>A : The Resi number will be sent to your email after payment and processing of the product.</p>

    <p>Q : Where is my product right now?</p>
    <p>A : You can check your product status delivery with the Resi number we send on your email.</p>

    <p>Returns & Exchanges</p>

    <p>Q : Can I request a refund?</p>
    <p>A : You can request a refund if you have defects on your product, 
    but first we need video unpacking for proving.</p>

    <p>Q : Can I exchange size products?</p>
    <p>A : You can exchange size if the size stock is available, but you can claim 
    this exchange after you send us an unpacking video and never wear this product.</p>
</div>
<!-- FAQs End -->

{% endblock %}