{% extends 'layout.html' %}

{% block head %}
<title>Location Page</title>
{% endblock %}

{% block body %}

<!-- Location Start -->
<div class="container mt-4 my-4">
    <div class="row row-cols-1 row-cols-md-3 g-4">
        <div class="col">
            <div class="card">
                <img src="../static/maps/maps3.jpg" class="card-img-top" alt="Familias Store Image">
            </div>
        </div>
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <h2 class="card-title"><strong>FAMILIAS STORE© SLEMAN</strong></h2>
                    <p>10 Solo Street</p>
                    <p>Sleman, Yogyakarta, Indonesia</p>
                    <p></p>
                    <h3><strong>Hours</strong></h3>
                    <p>Monday - Saturday</p>
                    <p>9 AM - 4 PM WIB</p>
                    <p></p>
                    <button class="bg-dark"><a href="https://maps.app.goo.gl/EdRjdVY1D1W6wnUd6"><strong>VIEW
                                MAPS</strong></a></button>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <img src="../static/maps/maps2.jpg" class="card-img-top" alt="Familias Store Image">
            </div>
        </div>
    </div>
</div>
<!-- Location End -->

{% endblock %}