{% extends 'layout.html' %}

{% block head%}
<title>Product Page</title>
{% endblock %}

{% block body %}
<!-- Product Start  -->

<!-- Headwear Start-->
<div class="container mt-5">
  <div class="judul-produk" style="background-color: #000; padding: 5px 10px;">
    <h5 class="text-center text-white" style="margin-top: 5px;">Headwear</h5>
  </div>
</div>

<div class="container mt-3">
  <div class="produk-grid">
    <div class="produk-item">
      <div class="card">
        <img src="../static/Headwear/Topi1.jpg" class="card-img-top" id="productImage1">
        <div class="card-body">
          <h6 class="card-title">Cap-Hada Bc</h6>
          <div class="icon-bintang" style="color: orange;">
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-regular fa-star"></i>
          </div>
          <p class="card-text">Rp165.000</p>
          <a href="/checkout" class="btn btn-dark d-grid">Beli</a>
        </div>
      </div>
    </div>
    <div class="produk-item">
      <div class="card">
        <img src="../static/Headwear/Topi2.jpg" class="card-img-top" id="productImage2">
        <div class="card-body">
          <h6 class="card-title">Cap-Suv</h6>
          <div class="icon-bintang" style="color: orange;">
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-regular fa-star"></i>
          </div>
          <p class="card-text">Rp165.000</p>
          <a href="/checkout" class="btn btn-dark d-grid">Beli</a>
        </div>
      </div>
    </div>
    <div class="produk-item">
      <div class="card">
        <img src="../static/Headwear/Topi3.jpg" class="card-img-top" id="productImage3">
        <div class="card-body">
          <h6 class="card-title">Cap-Olse Cg</h6>
          <div class="icon-bintang" style="color: orange;">
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-regular fa-star"></i>
          </div>
          <p class="card-text">Rp135.000</p>
          <a href="/checkout" class="btn btn-dark d-grid">Beli</a>
        </div>
      </div>
    </div>
    <div class="produk-item">
      <div class="card">
        <img src="../static/Headwear/Topi4.jpg" class="card-img-top" id="productImage4">
        <div class="card-body">
          <h6 class="card-title">Cap-Gean</h6>
          <div class="icon-bintang" style="color: orange;">
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-regular fa-star"></i>
          </div>
          <p class="card-text">Rp165.000</p>
          <a href="/checkout" class="btn btn-dark d-grid">Beli</a>
        </div>
      </div>
    </div>
    <div class="produk-item">
      <div class="card">
        <img src="../static/Headwear/Topi5.jpg" class="card-img-top" id="productImage5">
        <div class="card-body">
          <h6 class="card-title">Hat - Mour BR</h6>
          <div class="icon-bintang" style="color: orange;">
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-regular fa-star"></i>
          </div>
          <p class="card-text">Rp135.000</p>
          <a href="checkout" class="btn btn-dark d-grid">Beli</a>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Headwear End -->

<!-- Outerwear Start-->
<div class="container mt-5">
  <div class="judul-produk" style="background-color: #000; padding: 5px 10px;">
    <h5 class="text-center text-white" style="margin-top: 5px;">Outerwear</h5>
  </div>
</div>

<div class="container">
  <div class="produk-grid">
    <div class="produk-item">
      <div class="card">
        <img src="../static/Outerwear/Outer1.jpg" class="card-img-top" id="productImage6">
        <div class="card-body">
          <h6 class="card-title">Olive Work Jacket - Kano</h6>
          <div class="icon-bintang" style="color: orange;">
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-regular fa-star"></i>
          </div>
          <p class="card-text">Rp350.000</p>
          <a href="/checkout" class="btn btn-dark d-grid">Beli</a>
        </div>
      </div>
    </div>
    <div class="produk-item">
      <div class="card">
        <img src="../static/Outerwear/Outer2.jpg" class="card-img-top" id="productImage7">
        <div class="card-body">
          <h6 class="card-title">Cardigan Knit - Sacco</h6>
          <div class="icon-bintang" style="color: orange;">
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-regular fa-star"></i>
          </div>
          <p class="card-text">Rp315.000</p>
          <a href="/checkout" class="btn btn-dark d-grid">Beli</a>
        </div>
      </div>
    </div>
    <div class="produk-item">
      <div class="card">
        <img src="../static/Outerwear/Outer6.jpg" class="card-img-top" id="productImage8">
        <div class="card-body">
          <h6 class="card-title">Black Hoodie - HB Bkill</h6>
          <div class="icon-bintang" style="color: orange;">
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-regular fa-star"></i>
          </div>
          <p class="card-text">Rp345.000</p>
          <a href="/checkout" class="btn btn-dark d-grid">Beli</a>
        </div>
      </div>
    </div>

    <div class="produk-item">
      <div class="card">
        <img src="../static/Outerwear/Outer5.jpg" class="card-img-top" id="productImage9">
        <div class="card-body">
          <h6 class="card-title">Black Hoodie - Gean Hd</h6>
          <div class="icon-bintang" style="color: orange;">
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-regular fa-star"></i>
          </div>
          <p class="card-text">Rp295.000</p>
          <a href="/checkout" class="btn btn-dark d-grid">Beli</a>
        </div>
      </div>
    </div>
    <div class="produk-item">
      <div class="card">
        <img src="../static/Outerwear/Outer7.jpg" class="card-img-top" id="productImage10">
        <div class="card-body">
          <h6 class="card-title">Black Crweneck - Fure</h6>
          <div class="icon-bintang" style="color: orange;">
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-regular fa-star"></i>
          </div>
          <p class="card-text">Rp300.000</p>
          <a href="/checkout" class="btn btn-dark d-grid">Beli</a>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Outerwear End-->

<!-- Shirt Start-->
<div class="container mt-5">
  <div class="judul-produk" style="background-color: #000; padding: 5px 10px;">
    <h5 class="text-center text-white" style="margin-top: 5px;">Shirt</h5>
  </div>
</div>

<div class="container">
  <div class="produk-grid">
    <div class="produk-item">
      <div class="card">
        <img src="../static/Shirt/Shirt1.jpg" class="card-img-top" id="productImage11">
        <div class="card-body">
          <h6 class="card-title">Flannel Long Shirt - Ayse</h6>
          <div class="icon-bintang" style="color: orange;">
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-regular fa-star"></i>
          </div>
          <p class="card-text">Rp145.000</p>
          <a href="/checkout" class="btn btn-dark d-grid">Beli</a>
        </div>
      </div>
    </div>
    <div class="produk-item">
      <div class="card">
        <img src="../static/Shirt/Shirt2.jpg" class="card-img-top" id="productImage12">
        <div class="card-body">
          <h6 class="card-title">Champ Short Shirt - Digo</h6>
          <div class="icon-bintang" style="color: orange;">
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-regular fa-star"></i>
          </div>
          <p class="card-text">Rp150.000</p>
          <a href="/checkout" class="btn btn-dark d-grid">Beli</a>
        </div>
      </div>
    </div>
    <div class="produk-item">
      <div class="card">
        <img src="../static/Shirt/Shirt3.jpg" class="card-img-top" id="productImage13">
        <div class="card-body">
          <h6 class="card-title">Grandad Collar Shirt - Ceko</h6>
          <div class="icon-bintang" style="color: orange;">
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-regular fa-star"></i>
          </div>
          <p class="card-text">Rp190.000</p>
          <a href="/checkout" class="btn btn-dark d-grid">Beli</a>
        </div>
      </div>
    </div>
    <div class="produk-item">
      <div class="card">
        <img src="../static/Shirt/Shirt4.jpg" class="card-img-top" id="productImage14">
        <div class="card-body">
          <h6 class="card-title">Flannel Long Shirt - Sergy</h6>
          <div class="icon-bintang" style="color: orange;">
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-regular fa-star"></i>
          </div>
          <p class="card-text">Rp145.000</p>
          <a href="/checkout" class="btn btn-dark d-grid">Beli</a>
        </div>
      </div>
    </div>
    <div class="produk-item">
      <div class="card">
        <img src="../static/Shirt/Shirt5.jpg" class="card-img-top" id="productImage15">
        <div class="card-body">
          <h6 class="card-title">Flannel Long Shirt - Breez</h6>
          <div class="icon-bintang" style="color: orange;">
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-regular fa-star"></i>
          </div>
          <p class="card-text">Rp145.000</p>
          <a href="/checkout" class="btn btn-dark d-grid">Beli</a>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Shirt end -->

<!-- T-Shirt Start -->
<div class="container mt-5">
  <div class="judul-produk" style="background-color: #000; padding: 5px 10px;">
    <h5 class="text-center text-white" style="margin-top: 5px;">T-Shirt</h5>
  </div>
</div>

<div class="container">
  <div class="produk-grid">
    <div class="produk-item">
      <div class="card">
        <img src="../static/T-Shirt/T-S1.jpg" class="card-img-top" id="productImage16">
        <div class="card-body">
          <h6 class="card-title">Black T-Shirt - Sown Bs</h6>
          <div class="icon-bintang" style="color: orange;">
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-regular fa-star"></i>
          </div>
          <p class="card-text">Rp145.000</p>
          <a href="/checkout" class="btn btn-dark d-grid">Beli</a>
        </div>
      </div>
    </div>
    <div class="produk-item">
      <div class="card">
        <img src="../static/T-Shirt/T-S2.jpg" class="card-img-top" id="productImage17">
        <div class="card-body">
          <h6 class="card-title">Ringer Tee - Candy Gn</h6>
          <div class="icon-bintang" style="color: orange;">
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-regular fa-star"></i>
          </div>
          <p class="card-text">Rp210.000</p>
          <a href="/checkout" class="btn btn-dark d-grid">Beli</a>
        </div>
      </div>
    </div>
    <div class="produk-item">
      <div class="card">
        <img src="../static/T-Shirt/T-S3.jpg" class="card-img-top" id="productImage18">
        <div class="card-body">
          <h6 class="card-title">White T-Shirt - Load Lf</h6>
          <div class="icon-bintang" style="color: orange;">
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-regular fa-star"></i>
          </div>
          <p class="card-text">Rp145.000</p>
          <a href="/checkout" class="btn btn-dark d-grid">Beli</a>
        </div>
      </div>
    </div>
    <div class="produk-item">
      <div class="card">
        <img src="../static/T-Shirt/T-S4.jpg" class="card-img-top" id="productImage19">
        <div class="card-body">
          <h6 class="card-title">Black T-Shirt - Jacky Bs</h6>
          <div class="icon-bintang" style="color: orange;">
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-regular fa-star"></i>
          </div>
          <p class="card-text">Rp145.000</p>
          <a href="/checkout" class="btn btn-dark d-grid">Beli</a>
        </div>
      </div>
    </div>
    <div class="produk-item">
      <div class="card">
        <img src="../static/T-Shirt/T-S6.jpg" class="card-img-top" id="productImage20">
        <div class="card-body">
          <h6 class="card-title">Benheur T-Shirt - Wish</h6>
          <div class="icon-bintang" style="color: orange;">
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-regular fa-star"></i>
          </div>
          <p class="card-text">Rp155.000</p>
          <a href="/checkout" class="btn btn-dark d-grid">Beli</a>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- T-Shirt End -->

<!-- Pants Start -->
<div class="container mt-5">
  <div class="judul-produk" style="background-color: #000; padding: 5px 10px;">
    <h5 class="text-center text-white" style="margin-top: 5px;">Pants</h5>
  </div>
</div>

<div class="container">
  <div class="produk-grid">
    <div class="produk-item">
      <div class="card">
        <img src="../static/Pants/Pants1.jpg" class="card-img-top" id="productImage21">
        <div class="card-body">
          <h6 class="card-title">Washed Long Denim - Waves</h6>
          <div class="icon-bintang" style="color: orange;">
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-regular fa-star"></i>
          </div>
          <p class="card-text">Rp250.000</p>
          <a href="/checkout" class="btn btn-dark d-grid">Beli</a>
        </div>
      </div>
    </div>
    <div class="produk-item">
      <div class="card">
        <img src="../static/Pants/Pants2.jpg" class="card-img-top" id="productImage22">
        <div class="card-body">
          <h6 class="card-title">Washed long Denim - Race</h6>
          <div class="icon-bintang" style="color: orange;">
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-regular fa-star"></i>
          </div>
          <p class="card-text">Rp250.000</p>
          <a href="/checkout" class="btn btn-dark d-grid">Beli</a>
        </div>
      </div>
    </div>
    <div class="produk-item">
      <div class="card">
        <img src="../static/Pants/Pants3.jpg" class="card-img-top" id="productImage23">
        <div class="card-body">
          <h6 class="card-title">Washed Long Jeans - Pain</h6>
          <div class="icon-bintang" style="color: orange;">
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-regular fa-star"></i>
          </div>
          <p class="card-text">Rp250.000</p>
          <a href="/checkout" class="btn btn-dark d-grid">Beli</a>
        </div>
      </div>
    </div>
    <div class="produk-item">
      <div class="card">
        <img src="../static/Pants/Pants4.jpg" class="card-img-top" id="productImage24">
        <div class="card-body">
          <h6 class="card-title">Corduroy Short Pants - Arko</h6>
          <div class="icon-bintang" style="color: orange;">
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-regular fa-star"></i>
          </div>
          <p class="card-text">Rp195.000</p>
          <a href="/checkout" class="btn btn-dark d-grid">Beli</a>
        </div>
      </div>
    </div>
    <div class="produk-item">
      <div class="card">
        <img src="../static/Pants/Pants5.jpg" class="card-img-top" id="productImage25">
        <div class="card-body">
          <h6 class="card-title">Short Pants - Mava Sp</h6>
          <div class="icon-bintang" style="color: orange;">
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-regular fa-star"></i>
          </div>
          <p class="card-text">Rp280.000</p>
          <a href="/checkout" class="btn btn-dark d-grid">Beli</a>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Pants Ennd -->

<!-- Bag Start -->
<div class="container mt-5">
  <div class="judul-produk" style="background-color: #000; padding: 5px 10px;">
    <h5 class="text-center text-white" style="margin-top: 5px;">Bag</h5>
  </div>
</div>

<div class="container">
  <div class="produk-grid">
    <div class="produk-item">
      <div class="card">
        <img src="../static/Bag/Tas1.jpg" class="card-img-top" id="productImage26">
        <div class="card-body">
          <h6 class="card-title">Black Backpack - Kiro Bc</h6>
          <div class="icon-bintang" style="color: orange;">
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-regular fa-star"></i>
          </div>
          <p class="card-text">Rp300.000</p>
          <a href="/checkout" class="btn btn-dark d-grid">Beli</a>
        </div>
      </div>
    </div>
    <div class="produk-item">
      <div class="card">
        <img src="../static/Bag/Tas2.jpg" class="card-img-top" id="productImage27">
        <div class="card-body">
          <h6 class="card-title">Corduroy Backpack - Kigo Gr</h6>
          <div class="icon-bintang" style="color: orange;">
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-regular fa-star"></i>
          </div>
          <p class="card-text">R345.000</p>
          <a href="/checkout" class="btn btn-dark d-grid">Beli</a>
        </div>
      </div>
    </div>
    <div class="produk-item">
      <div class="card">
        <img src="../static/Bag/Tas3.jpg" class="card-img-top" id="productImage28">
        <div class="card-body">
          <h6 class="card-title">Black Backpack - Mute</h6>
          <div class="icon-bintang" style="color: orange;">
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-regular fa-star"></i>
          </div>
          <p class="card-text">Rp230.000</p>
          <a href="/checkout" class="btn btn-dark d-grid">Beli</a>
        </div>
      </div>
    </div>
    <div class="produk-item">
      <div class="card">
        <img src="../static/Bag/Tas4.jpg" class="card-img-top" id="productImage29">
        <div class="card-body">
          <h6 class="card-title">Navy Backpack - Yoko Nv</h6>
          <div class="icon-bintang" style="color: orange;">
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-regular fa-star"></i>
          </div>
          <p class="card-text">Rp290.000</p>
          <a href="/checkout" class="btn btn-dark d-grid">Beli</a>
        </div>
      </div>
    </div>
    <div class="produk-item">
      <div class="card">
        <img src="../static/Bag/Tas5.jpg" class="card-img-top" id="productImage30">
        <div class="card-body">
          <h6 class="card-title">Black Backpack - Chloe</h6>
          <div class="icon-bintang" style="color: orange;">
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-regular fa-star"></i>
          </div>
          <p class="card-text">Rp250.000</p>
          <a href="/checkout" class="btn btn-dark d-grid">Beli</a>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Bag End -->

<!-- Accessories Start-->
<div class="container mt-5">
  <div class="judul-produk" style="background-color: #000; padding: 5px 10px;">
    <h5 class="text-center text-white" style="margin-top: 5px;">Accessories</h5>
  </div>
</div>

<div class="container">
  <div class="produk-grid">
    <div class="produk-item">
      <div class="card">
        <img src="../static/Accessories/Acc5.jpg" class="card-img-top" id="productImage31">
        <div class="card-body">
          <h6 class="card-title">Necklace Bear - Cedar</h6>
          <div class="icon-bintang" style="color: orange;">
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-regular fa-star"></i>
          </div>
          <p class="card-text">Rp115.000</p>
          <a href="/checkout" class="btn btn-dark d-grid">Beli</a>
        </div>
      </div>
    </div>
    <div class="produk-item">
      <div class="card">
        <img src="../static/Accessories/Acc4.jpg" class="card-img-top" id="productImage32">
        <div class="card-body">
          <h6 class="card-title">Balck Key Chain - Yast</h6>
          <div class="icon-bintang" style="color: orange;">
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-regular fa-star"></i>
          </div>
          <p class="card-text">Rp85.000</p>
          <a href="/checkout" class="btn btn-dark d-grid">Beli</a>
        </div>
      </div>
    </div>
    <div class="produk-item">
      <div class="card">
        <img src="../static/Accessories/Acc2.jpg" class="card-img-top" id="productImage33">
        <div class="card-body">
          <h6 class="card-title">Pink Plush Doll - Ratix Pk</h6>
          <div class="icon-bintang" style="color: orange;">
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-regular fa-star"></i>
          </div>
          <p class="card-text">Rp95.000</p>
          <a href="/checkout" class="btn btn-dark d-grid">Beli</a>
        </div>
      </div>
    </div>
    <div class="produk-item">
      <div class="card">
        <img src="../static/Accessories/Acc3.jpg" class="card-img-top" id="productImage34">
        <div class="card-body">
          <h6 class="card-title">Water Bottle - Foca SSSS</h6>
          <div class="icon-bintang" style="color: orange;">
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-regular fa-star"></i>
          </div>
          <p class="card-text">Rp135.000</p>
          <a href="/checkout" class="btn btn-dark d-grid">Beli</a>
        </div>
      </div>
    </div>
    <div class="produk-item">
      <div class="card">
        <img src="../static/Accessories/Acc1.jpg" class="card-img-top" id="productImage35">
        <div class="card-body">
          <h6 class="card-title">Water Bottle - Zen UYP</h6>
          <div class="icon-bintang" style="color: orange;">
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-regular fa-star"></i>
          </div>
          <p class="card-text">Rp135.000</p>
          <a href="/checkout" class="btn btn-dark d-grid">Beli</a>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- accessories End -->

<!-- product end -->

<!-- Script JS -->
<script>
  document.addEventListener('DOMContentLoaded', function () {
    const productImages = document.querySelectorAll('.card-img-top');

    productImages.forEach((image) => {
      image.originalSrc = image.src;

      image.addEventListener('click', function () {
        if (image.src !== image.originalSrc) {
          image.src = image.originalSrc;
        } else {
          switch (image.id) {
            case 'productImage1':
              image.src = '/static/Headwear/Topi1.1.jpg';
              break;
            case 'productImage2':
              image.src = '/static/Headwear/Topi2.1.jpg';
              break;
            case 'productImage3':
              image.src = '/static/Headwear/Topi3.1.jpg'
              break;
            case 'productImage4':
              image.src = '/static/Headwear/Topi4.1.jpg'
              break;
            case 'productImage5':
              image.src = '/static/Headwear/Topi5.1.jpg'
              break;
            case 'productImage6':
              image.src = '/static/Outerwear/Outer1.1.jpg'
              break;
            case 'productImage7':
              image.src = '/static/Outerwear/Outer2.1.jpg'
              break;
            case 'productImage8':
              image.src = '/static/Outerwear/Outer6.1.jpg'
              break;
            case 'productImage9':
              image.src = '/static/Outerwear/Outer5.1.jpg'
              break;
            case 'productImage10':
              image.src = '/static/Outerwear/Outer7.1.jpg'
              break;
            case 'productImage11':
              image.src = '/static/Shirt/Shirt1.1.jpg'
              break;
            case 'productImage12':
              image.src = '/static/Shirt/Shirt2.1.jpg'
              break;
            case 'productImage13':
              image.src = '/static/Shirt/Shirt3.1.jpg'
              break;
            case 'productImage14':
              image.src = '/static/Shirt/Shirt4.1.jpg'
              break;
            case 'productImage15':
              image.src = '/static/Shirt/Shirt5.1.jpg'
              break;
            case 'productImage16':
              image.src = '/static/T-Shirt/Ts1.jpg'
              break;
            case 'productImage17':
              image.src = '/static/T-Shirt/TS2.jpg'
              break;
            case 'productImage18':
              image.src = '/static/T-Shirt/ts3.jpg'
              break;
            case 'productImage19':
              image.src = '/static/T-Shirt/Ts4.jpg'
              break;
            case 'productImage20':
              image.src = '/static/T-Shirt/Ts6.jpg'
              break;
            case 'productImage21':
              image.src = '/static/Pants/Pants1.1.jpg'
              break;
            case 'productImage22':
              image.src = '/static/Pants/Pants2.1.jpg'
              break;
            case 'productImage23':
              image.src = '/static/Pants/Pants3.1.jpg'
              break;
            case 'productImage24':
              image.src = '/static/Pants/Pants4.1.jpg'
              break;
            case 'productImage25':
              image.src = '/static/Pants/Pants5.1.jpg'
              break;
            case 'productImage26':
              image.src = '/static/Bag/Tas1.1.jpg'
              break;
            case 'productImage27':
              image.src = '/static/Bag/Tas2.1.jpg'
              break;
            case 'productImage28':
              image.src = '/static/Bag/Tas3.1.jpg'
              break;
            case 'productImage29':
              image.src = '/static/Bag/Tas4.1.jpg'
              break;
            case 'productImage30':
              image.src = '/static/Bag/Tas5.1.jpg'
              break;
            case 'productImage31':
              image.src = '/static/Accessories/A5.jpg'
              break;
            case 'productImage32':
              image.src = '/static/Accessories/A4.jpg'
              break;
            case 'productImage33':
              image.src = '/static/Accessories/A2.jpg'
              break;
            case 'productImage34':
              image.src = '/static/Accessories/A3.jpg'
              break;
            case 'productImage35':
              image.src = '/static/Accessories/A1.jpg'
              break;
            default:
              break;
          }
        }
      });
    });
  });    
</script>
<!-- Script JS -->

{% endblock %}