body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

.triangle-container {
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
}

.triangle {
    width: 0;
    height: 0;
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
    border-bottom: 52.1px solid yellow; /* Ubah warna dan ukuran segitiga di sini */
    margin: 10px; /* Tambahkan jarak antar segitiga */
}
